[buildout]
develop = .
parts = test
extends = http://raw.github.com/zopefoundation/groktoolkit/master/grok.cfg
extensions =
  buildout.dumppickedversions
  mr.developer
versions = versions
extensions = mr.developer

# mr.developer
always-checkout = true
auto-checkout = *
sources = sources
sources-dir = checkouts

[sources]
zeam.form.base = git git@github.com:thefunny42/Zeam-Form.git branch=new_grokcore_component
zeam.form.ztk = git git@github.com:thefunny42/Zeam-Form-ZTK.git branch=new_grokcore
zeam.form.composed = git git@github.com:thefunny42/Zeam-Form-Composed.git branch=new_grokcore

[versions]
WebTest = 2.0.30

[test]
recipe = zc.recipe.testrunner
eggs = zeam.form.table [test]
defaults = ['--tests-pattern', '^f?tests$', '-v', '-c', '--udiff', '--package=zeam.form.table']
